@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply w-full h-full;
}

body {
	@apply text-white;

	background-image: url("bg.png");
}

.input,
.btn {
	@apply rounded-[100px];
}

.jersey-15-regular {
	font-family: "Jersey 15", sans-serif;
	font-weight: 400;
	font-style: normal;
}
